.wrapper {
  width: 100%;
  max-width: 750px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #333;
}

.wrapper h1,
.wrapper h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

label {
  font-weight: 600;
  margin-top: 15px;
  display: block;
}

input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #f9f9f9;
}

select[multiple] {
  height: 120px;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #7f7fd5;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #5f5fcf;
}
